<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="connection.url">jdbc:sqlserver://localhost\ServerInstanceOrServerName:1433;database=Sokoban;integratedSecurity=true;</property>
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		<mapping class="db.Users"></mapping>
		<mapping class="db.LevelDB"></mapping>
		<mapping class="db.Records"></mapping>
	</session-factory>
</hibernate-configuration>